// Define variable defaults
$primary: #3c1146;
$darker: #754a70;
$medium: #ae8299;
$secondary: #d4a8b4;
$lighter: #e1c2cb;
$light: #fbedf1;

:root {
  --darker: #{$darker};
  --medium: #{$medium};
  --lighter: #{$lighter};
}

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

@font-face {
  font-family: "Send Flowers";
  src: url("assets/fonts/send-flowers-v1-latin-regular.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      var(--lighter) 21%,
      var(--lighter) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        var(--lighter) 21%,
        var(--lighter) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: var(--secondary) !important;
  background-size: 75px 100px;
}

.header-image {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
}

.headline {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: var(--medium);
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 560px;
  }
}
