// Define variable defaults
$primary: #3c1146;
$darker: #754a70;
$medium: #ae8299;
$secondary: #d4a8b4;
$lighter: #e8cbd3;
$light: #fbedf1;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";

@font-face {
  font-family: "Send Flowers";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/send-flowers-v1-latin-regular.eot");
  src: local(""),
    url("assets/fonts/send-flowers-v1-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/send-flowers-v1-latin-regular.woff2") format("woff2"),
    url("assets/fonts/send-flowers-v1-latin-regular.woff") format("woff"),
    url("assets/fonts/send-flowers-v1-latin-regular.ttf") format("truetype"),
    url("assets/fonts/send-flowers-v1-latin-regular.svg#SendFlowers")
      format("svg");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.3) 21%,
      rgba(255, 255, 255, 0.3) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 21%,
        rgba(255, 255, 255, 0.3) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: var(--secondary) !important;
  background-size: 75px 100px;
}

.scrollbar-counter {
  padding-left: calc(100vw - 100%);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3e3e3e;
  max-width: 440px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  border-left: rgba($secondary, 1) solid 5px;
  border-right: rgba($secondary, 1) solid 5px;
}

nav {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  border-top: rgba($secondary, 0.3) solid 1px;
  border-bottom: rgba($secondary, 0.3) solid 1px;
  margin-top: 15px;
  margin-bottom: 25px;

  a {
    font-weight: bold;
    color: $medium;
    margin: 0 10px;

    &.router-link-exact-active {
      color: var(--primary);
    }
  }
}

.main-title {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: var(--primary);
  text-align: center;
  text-shadow: 2px 2px var(--secondary);

  a,
  a:hover {
    text-decoration: none;
  }
}

.header-image {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px auto;
}

.part {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: $medium;
}

.ingredients {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.divider {
  margin: 25px auto;
  width: 80%;
  height: 4px;
  background-color: rgba($secondary, 0.3);
  border-radius: 2px;
}

.footer {
  line-height: 50px;
  margin-top: 25px;
}

.card-header-title {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: $darker;
}

.section {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: $medium;
}

.active-pan {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: $medium;
}

.inactive-pan {
  font-family: "Send Flowers", cursive;
  font-weight: bold;
  color: $lighter;
}

@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: 560px;
  }
}
